#modification_compte {
    font-family: Urbanist, sans-serif;
    color: #3BC393;
    text-decoration: none;
}

.message_erreur {
    font-family: Urbanist, sans-serif;
    color: red;
    padding-left: 15%;
}

h1 {
    font-family: Urbanist, sans-serif;
    color: #3BC393;
    font-size: 2em;
    padding-left: 15%;
}

#moteur_de_recherche:focus {
    outline: none;
}

#moteur_recherche {
    font-family: Urbanist, sans-serif;
    color: rgb(150, 150, 150);
    padding: 0.5%;
    width: 15%;
    display: inline-block;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #FAFAFA;
}

.tab_personnel {
    font-family: Urbanist, sans-serif;
    font-weight: normal;
    text-align: center;
    white-space: pre;
    padding-right: 2.85em;
}

.tab_personnel1 {
    font-family: Urbanist, sans-serif;
    font-weight: normal;
    text-align: center;
    white-space: pre;
    padding-right: 2.85em;
}

.contenu_table {
    margin-bottom: 2%;
    border: 0.05px solid;
    border-color: white;
    border-radius: 10px;
    box-shadow: 0.05px 0.05px 5px grey;
    font-family: Urbanist, sans-serif;
    cursor: pointer;
}

table {
    border-spacing: 10px;
    margin-left: 15%;
}

#deconnexion {
    font-family: Urbanist, sans-serif;
    text-decoration: none;
    color: red;
}

a:visited {
    color: none;
}

td {
    padding: 1.15%;
    /* text-align: center; */
}

.ajout {
    font-family: Urbanist, sans-serif;
    text-decoration: none;
    color: black;
    padding-left: 15%;
}

.tableau_onglets {
    font-family: Urbanist, sans-serif;
}

#table {
    justify-content: center;
    display: flex;
}

.cadran {
    margin: 3%;
    padding-top: 6.5%;
    padding-bottom: 0.8%;
    border: 1px solid white;
    border-radius: 20px;
    width: 15%;
    height: 15%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 0 10px 0 rgba(0, 0, 0, 0.2);
    font-weight: bolder;
    font-size: 2em;
}

#text {
    text-align: center;
}

.donnees_utilisateur {
    justify-content: left;
    font-family: Urbanist, sans-serif;
}

.titrage_donnees {
    color: #9D9D9D;
    justify-content: left;
}

#supprimer {
    font-family: Urbanist, sans-serif;
    color: red;
    margin-top: 2%;
    margin-left: 2%;
}

    #supprimer::after {
        display: none;
    }

input[type = range] {
    -webkit-appearance: none;
    display: block;
    margin-left: 0;
    margin-right: auto;
    justify-content: center;
    width: 70%;
    background: #8B8B8B;
    height: 2px;
    outline: none;
    margin-top: 30%;
}

    input[type = range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 13px;
        height: 13px;
        background: white;
        border-radius: 50%;
    }



#curseur_rouge::-webkit-slider-thumb {
    border: 1px solid #AC0002;
}

#curseur_bleu::-webkit-slider-thumb {
    border: 1px solid #43CCDD;
}

#curseur_vert::-webkit-slider-thumb {
    border: 1px solid #37C394;
}

#bouton_rouge {
    margin-left: 70%;
    width: 30%;
    border: none;
    background: #AC0002;
    border-radius: 10px;
    color: white;
}

#bouton_bleu {
    margin-left: 70%;
    margin-top: -100%;
    width: 30%;
    border: none;
    background: #43CCDD;
    border-radius: 10px;
    color: white;
}

#bouton_vert {
    margin-left: 70%;
    margin-top: -100%;
    width: 30%;
    border: none;
    background: #37C394;
    border-radius: 10px;
    color: white;
}

.connexion {
    padding-left: 2%;
}

#recherche {
    padding-left: 15%;
    display: initial;
}

#btn_recherche {
    height: 1.9em;
}

#identifiant {
    padding-left: 0.8em;
    font-family: Urbanist, sans-serif;
    font-weight: normal;
    text-align: center;
    white-space: pre;
    padding-right: 2em;
}

/* Bouton Dropdown */
.dropbtn {
    background-color: #3BC393;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

    /* Bouton Dropdown on hover & focus */
    .dropbtn:hover, .dropbtn:focus {
        background-color: #3e8e41;
    }

/* Permet de fixer le bouton de la page */
.dropdown {
    display: inline-block;
    position: relative;
    left: 32.75%;
}

/* Contenu du bouton dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

    /* Liens à l'intérieur du dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        /* Change la couleur lors d'un passage sur l'élément */
        .dropdown-content a:hover {
            background-color: #f1f1f1
        }

/* Montre le bouton Dropdown */
.show {
    display: block;
    border-radius: 10px;
}

th {
    font-family: Urbanist, sans-serif;
    font-weight: normal;
    text-align: center;
    white-space: pre;
    text-align: center;
}

.titre_profil {
    display: flex;
}

@media (min-width:781px) and (max-width: 1200px) {
    .dropdown {
        display: inline-block;
        position: relative;
        left: 42.5%;
    }

    .tab_personnel {
        padding-right: 1em;
    }
}

@media screen and (max-width: 780px) {
    .dropdown {
        left: 17%;
    }

    .tab_personnel1 {
        display: none;
    }

    .affichage_valeur {
        display: none;
    }

    #moteur_recherche {
        width: 20%;
        margin-left: 1%;
    }

    .tab_personnel {
        padding-right: 6.25em;
    }
}
