body {
    background: #FFFFFF;
    margin: 0%;
}

#image_connexion {
    width: 50%;
    height: 100%;
    
}

#title_form {
    font-family: Urbanist, sans-serif;
    color: #3BC393;
    text-align: center;
    margin: auto;
    margin-bottom: 15%;
    font-size: 2.5em;
}

#box {
    width: 400px;
    margin: 0 auto;
    justify-content: right;
    margin-left: 10%;
    display: inline-block;
    position: fixed;
    padding-top: 10%;
}

form {
    
    width: 100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    border-radius: 25px;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

input:focus {
    outline: none;
}


input[type=text], input[type=password] {
    font-family: Urbanist, sans-serif;
    color: rgb(150, 150, 150);
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #FAFAFA;
}

input[type=submit] {
    font-family: Urbanist, sans-serif;
    background-color: #3BC393;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
}

input[type=submit]:hover {
        background-color: #55EBB6;
        color: white;
}

#password_lost 
{
    font-family: Urbanist, sans-serif;
    color: #3BC393;
    text-decoration: none;

}

#password_lost:hover {
        color: #681284;
}

#indication {
    margin-top: 15%;
    margin-bottom: -3%;
    font-family: Urbanist, sans-serif;
    color: rgb(150, 150, 150);
    font-size: 0.8em;
}

#message_erreur {
    color: red;
    font-family: Urbanist, sans-serif;
}